n8n/workflow/AI_Horde.json
{
  "updatedAt": "2025-12-12T21:59:44.958Z",
  "createdAt": "2025-12-11T20:54:08.337Z",
  "id": "SvfWzHdFBCaBcD3M",
  "name": "AI Horde",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://stablehorde.net/api/v2/generate/async",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"0000000000\",\n  \"Client-Agent\": \"SeeThisGame\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ \"1girl, spread legs, pussy\"+$json.output}},\n  \"params\": {\n    \"sampler_name\": \"k_euler\",\n    \"cfg_scale\": 7,\n    \"steps\": 30,\n    \"width\": 1024,\n    \"height\": 1024,\n    \"karras\": true\n  },\n  \"nsfw\": true,\n  \"censor_nsfw\": false,\n  \"models\": [\n    \"ICBINP - I Can't Believe It's Not Photography\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        16
      ],
      "id": "17571814-25f6-4d07-a812-13564b4f9d0f",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        16
      ],
      "id": "78e04f3c-bac9-45ed-b810-531283cf7f8e",
      "name": "Wait",
      "webhookId": "350dde3f-c613-4f1f-9e9a-a21f3695a1f8"
    },
    {
      "parameters": {
        "url": "=https://stablehorde.net/api/v2/generate/status/{{ $('HTTP Request').item.json.id }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"0000000000\",\n  \"Client-Agent\": \"SeeThisGame\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        16
      ],
      "id": "d22b1360-a75e-4e9d-8190-bf15f6aa5b41",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        16
      ],
      "id": "e3e49942-237e-44fc-8da9-1217ee21539b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a62db919-6565-456d-a12c-88ba1bc12f2b",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        16
      ],
      "id": "48ffd8d5-a759-45c9-9b2b-2fff327cd52f",
      "name": "If"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei",
          "mode": "list",
          "cachedResultName": "API",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        0
      ],
      "id": "55c2e141-534f-4726-80de-c466ad48fcd9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lQLYBbc8MtHpP978",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.generations[0].img }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        0
      ],
      "id": "2e1b4ae9-381f-4e72-a298-e0d6ff3f623c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_time > 60 ? 60 : $json.wait_time / 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        128
      ],
      "id": "78fd7f16-9b2e-4653-9797-eef058bb77ca",
      "name": "Wait1",
      "webhookId": "b66633a8-cadc-4a9a-b64a-b56f1bc74552"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User basic request: \"{{ $json.prompt }}\". Desired context/style: \"{{ $json.parameters.style || 'No specific style' }}\", Season: \"{{ $json.parameters.season || 'Any' }}\", Time: \"{{ $json.parameters.time || 'Any' }}\", Place: \"{{ $json.parameters.place || 'Any' }}\". Please rewrite this into one cohesive, detailed image generation prompt.",
        "options": {
          "systemMessage": "You are an expert AI prompt engineer for image generation models like Stable Diffusion and Flux. Your task is to take a basic user request and expand it into a highly detailed, descriptive, and visually rich prompt. Focus on lighting, texture, atmosphere, and camera angle. IMPORTANT: Output ONLY the final prompt string without any introduction or explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        16
      ],
      "id": "6ed06d85-6865-44e1-be8b-25c59e495a46",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "d4ef8135-a2a3-4747-8763-50f2a29469fa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Vru74CqXj6BZW8ns",
          "name": "Groq account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fad64e85-3f88-4822-bcde-dd335635f1c2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-11T20:54:08.343Z",
      "createdAt": "2025-12-11T20:54:08.343Z",
      "role": "workflow:owner",
      "workflowId": "SvfWzHdFBCaBcD3M",
      "projectId": "AbCqI1pdVBc6nvU8"
    }
  ],
  "activeVersion": null,
  "tags": []
}