n8n/workflow/History.json
{"updatedAt":"2025-12-14T22:10:44.081Z","createdAt":"2025-12-13T12:06:39.859Z","id":"HVVdHVgHhzNLMD5m","name":"History","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Input Data:\n- Main Topic: \"{{ $json.prompt }}\"\n- Previous Story Context: \"{{ $json.older_history || 'None' }}\"\n- Target Language: \"{{ $json.language || 'en' }}\"\n- Safe Mode: {{ $json.safe || true }}\n\n- Context Parameters:\n  - Place: {{ $json.place || 'Not specified' }}\n  - Time: {{ $json.time || 'Not specified' }}\n  - Season: {{ $json.season || 'Not specified' }}\n  - Style: {{ $json.style || 'Not specified' }}\n\nTask: Generate the story JSON now.","hasOutputParser":true,"options":{"systemMessage":"You are a backend story generation engine specializing in psychological realism and causality.\n\nOUTPUT FORMAT:\nYou must output a VALID JSON object.\nThe keys must be numbered strings (\"1\", \"2\", \"3\"...).\nStructure: {\"1\": {\"title\": \"Unique Title\", \"text\": \"...\", \"prompt\": \"...\"}, \"2\": {...}}\n\nSTORY STRUCTURE:\n1. Length: 3 to 5 scenes.\n2. Flow: Intro -> Process/Conflict -> Conclusion.\n3. Titles: Must be unique for each scene.\n\nDEFAULT ASSUMPTIONS (FILLING THE GAPS):\n1. **Race/Species:** If not specified, assume \"Human\".\n2. **Relationship:** If not specified, assume \"Neutral/Strangers\" (Professional distance).\n3. **Personality:** If not specified, assign a standard **Archetype** based on their role:\n   - Hunter/Mercenary -> Pragmatic, silent, cautious.\n   - Merchant -> Greedy, talkative.\n   - Novice -> Eager but clumsy.\n   *Do not leave characters \"empty\". Give them traits.*\n\nREALISM & CAUSALITY RULES:\n1. **The \"Why\" Rule:** Every action needs a reason. Characters don't just \"do\" things; they do them because of cold, hunger, fear, or profit.\n2. **Skill Transfer:**\n   - Mentorship happens ONLY if they are explicitly friends or Master/Apprentice.\n   - Otherwise, professionals work silently. Novices observe/imitate (often incorrectly).\n3. **Dialogue Logic:**\n   - People don't talk for exposition. They talk to solve a problem, complain, or check safety.\n   - If trust is low, dialogue is sparse and curt.\n\nWORLD ALIVENESS (RANDOM ENCOUNTERS):\nThe world is not empty. You are allowed to introduce a \"Third Party\" briefly if it creates realistic tension:\n- A wary stranger on the road.\n- A competitor hunting the same prey.\n- A merchant asking for news.\n*Note: This is optional, use only if it fits the flow.*\n\nFATE & DIFFICULTY (Outcome Chance):\nValue: {{ $json.good_outcome_chance }}%\n- 0-30%: Failure, injury, loss. Conflicts arise.\n- 31-70%: Struggle, mistakes, mediocre loot.\n- 71-100%: Success, harmony.\n\nSAFETY PARAMETER RULES:\nIF Safe Mode is TRUE (PG-13):\n- ALLOWED: Injuries, blood, death, harsh survival.\n- FORBIDDEN: Sexual acts, extreme gore.\n\nLANGUAGE RULES:\n1. \"title\" and \"text\": In the user's language.\n2. \"prompt\": ALWAYS in English (detailed, visual)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[80,-64],"id":"fdb5fe20-163a-4cab-94c2-19de4b1824ee","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-16,176],"id":"2be95e44-b702-4d83-a3e0-45e955536966","name":"Groq Chat Model","credentials":{"groqApi":{"id":"Vru74CqXj6BZW8ns","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"stories\": [\n    {\n      \"number\": 1,\n      \"title\": \"Название главы на правильном языке\",\n      \"text\": \"Здесь будет сам текст истории на языке пользователя. Он может быть длинным.\",\n      \"prompt\": \"Detailed description of the image in English\"\n    },\n    {\n      \"number\": 2,\n      \"title\": \"Вторая глава\",\n      \"text\": \"Продолжение истории...\",\n      \"prompt\": \"Another prompt in English describing the second scene\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[224,96],"id":"7193b41b-b0c8-4699-b347-ba5f5d27e980","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.stories","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,-64],"id":"0bc5c9e5-50fc-4e01-8127-c4107d1508fd","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"ZI6XmS4CTIPS26aE","mode":"list","cachedResultUrl":"/workflow/ZI6XmS4CTIPS26aE","cachedResultName":"pollinations ai"},"workflowInputs":{"mappingMode":"defineBelow","value":{"safe":"={{ $('When Executed by Another Workflow').item.json.safe }}","width":"={{ $('When Executed by Another Workflow').item.json.width }}","height":"={{ $('When Executed by Another Workflow').item.json.height }}","prompt":"={{ $json['output.stories'].prompt }}","style":"={{ $('When Executed by Another Workflow').item.json.style }}","place":"={{ $('When Executed by Another Workflow').item.json.place }}","time":"={{ $('When Executed by Another Workflow').item.json.time }}","season":"={{ $('When Executed by Another Workflow').item.json.season }}","loras":"={{ $('When Executed by Another Workflow').item.json.loras }}","model_image":"={{ $('When Executed by Another Workflow').item.json.model_image }}","model_gen_prompt":"={{ $('When Executed by Another Workflow').item.json.model_gen_prompt }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"width","displayName":"width","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"height","displayName":"height","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"safe","displayName":"safe","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"style","displayName":"style","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"place","displayName":"place","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"season","displayName":"season","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_gen_prompt","displayName":"model_gen_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_image","displayName":"model_image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loras","displayName":"loras","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-64],"id":"db22612f-14c8-41cc-ab8d-bf8fa9cca5c5","name":"Call 'pollinations ai'","alwaysOutputData":false},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n\t\t\"prompt\": \"A brave knight's journey through enchanted forest\",\n        \"older-history\": \"\",\n\t\t\"language\": \"ru\",\n    \t\"model_text_history\": \"gpt-4-turbo\",\n    \t\"model_gen_prompt\": \"llama70b\",\n\t\t\"model_image\": \"dall-e-3\",\n\t\t\"width\": 1024,\n        \"height\": 1024,\n\t\t\"place\": \"forest\",\n\t\t\"time\": \"night\",\n\t\t\"season\": \"autumn\",\n\t\t\"style\": \"epic fantasy\",\n\t\t\"safe\": true,\n        \"loras\": []\n\t\t\n\t}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,-64],"id":"be8a5f2a-8be2-4a63-85d7-38d51336fd77","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"634b2ef6-8b55-4459-820c-3ffef63c640d","name":"number","value":"={{ $('Split Out').item.json['output.stories'].number }}","type":"string"},{"id":"9b5af9f4-05a6-4fd0-9cf6-379daff3b93e","name":"text","value":"={{ $('Split Out').item.json['output.stories'].text }}","type":"string"},{"id":"aa824890-5a96-4870-95d5-adb037194211","name":"image","value":"={{ 'https://drive.google.com/uc?export=view&id=' + $json.id }}","type":"string"},{"id":"76a60e95-b9ec-45b6-90ac-295b37cf36bd","name":"title","value":"={{ $('Split Out').item.json['output.stories'].title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-64],"id":"ee849e41-55a8-48bf-894a-73758dc03afc","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1056,-64],"id":"c232f6a7-9ac3-407e-b750-bda90acc8f04","name":"Aggregate"},{"parameters":{"model":"deepseek/deepseek-v3.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,112],"id":"6d2db0c3-1345-4a9b-80f4-053a6f199b17","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4qamGT2cd56MxKBS","name":"OpenRouter account"}}}],"connections":{"Groq Chat Model":{"ai_languageModel":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Call 'pollinations ai'","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Call 'pollinations ai'":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fa74de0-3a99-4705-a24f-f09154cc7119","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-13T12:06:39.865Z","createdAt":"2025-12-13T12:06:39.865Z","role":"workflow:owner","workflowId":"HVVdHVgHhzNLMD5m","projectId":"AbCqI1pdVBc6nvU8"}],"activeVersion":null,"tags":[]}