n8n/workflow/History.json
{
  "updatedAt": "2025-12-13T19:01:43.189Z",
  "createdAt": "2025-12-13T12:06:39.859Z",
  "id": "HVVdHVgHhzNLMD5m",
  "name": "History",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input Data:\n- Main Topic: \"{{ $json.data.prompt }}\"\n- Target Language: \"{{ $json.data.language || 'en' }}\"\n- Context Parameters:\n  - Place: {{ $json.data.parameters.place || 'Not specified' }}\n  - Time: {{ $json.data.parameters.time || 'Not specified' }}\n  - Season: {{ $json.data.parameters.season || 'Not specified' }}\n  - Style: {{ $json.data.parameters.style || 'Not specified' }}\n\nTask: Generate the story JSON now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a backend story generation engine. Your task is to generate a short story divided into scenes based on user inputs.\n\nSTRICT OUTPUT RULES:\n1. Output MUST be a valid, raw JSON object without markdown formatting (no ```json).\n2. The structure must be: {\"1\": {\"title\": \"...\", \"text\": \"...\", \"prompt\": \"...\"}, \"2\": {...}}\n3. Create between 3 to 5 scenes (pages).\n\nLANGUAGE RULES:\n1. \"title\" and \"text\": Must be in the language specified by the user (e.g., Russian).\n2. \"prompt\": Must ALWAYS be in English (detailed, descriptive, suitable for Flux/Stable Diffusion).\n\nCONTENT RULES:\n1. Incorporate the provided \"Context Parameters\" (Season, Time, Place, Style) into the story atmosphere and the image prompts.\n2. If a parameter is \"Not specified\", ignore it and be creative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        -64
      ],
      "id": "fdb5fe20-163a-4cab-94c2-19de4b1824ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        96
      ],
      "id": "2be95e44-b702-4d83-a3e0-45e955536966",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Vru74CqXj6BZW8ns",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"stories\": [\n    {\n      \"number\": 1,\n      \"title\": \"Название главы на правильном языке\",\n      \"text\": \"Здесь будет сам текст истории на языке пользователя. Он может быть длинным.\",\n      \"prompt\": \"Detailed description of the image in English\"\n    },\n    {\n      \"number\": 2,\n      \"title\": \"Вторая глава\",\n      \"text\": \"Продолжение истории...\",\n      \"prompt\": \"Another prompt in English describing the second scene\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        96
      ],
      "id": "7193b41b-b0c8-4699-b347-ba5f5d27e980",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.stories",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -64
      ],
      "id": "0bc5c9e5-50fc-4e01-8127-c4107d1508fd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZI6XmS4CTIPS26aE",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZI6XmS4CTIPS26aE",
          "cachedResultName": "pollinations ai"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "safe": "={{ $('When Executed by Another Workflow').item.json.safe }}",
            "width": "={{ $('When Executed by Another Workflow').item.json.width }}",
            "height": "={{ $('When Executed by Another Workflow').item.json.height }}",
            "prompt": "={{ $json['output.stories'].prompt }}",
            "style": "={{ $('When Executed by Another Workflow').item.json.style }}",
            "place": "={{ $('When Executed by Another Workflow').item.json.place }}",
            "time": "={{ $('When Executed by Another Workflow').item.json.time }}",
            "season": "={{ $('When Executed by Another Workflow').item.json.season }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "safe",
              "displayName": "safe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "place",
              "displayName": "place",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "season",
              "displayName": "season",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "loras",
              "displayName": "loras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        -64
      ],
      "id": "db22612f-14c8-41cc-ab8d-bf8fa9cca5c5",
      "name": "Call 'pollinations ai'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\t\t\"prompt\": \"A brave knight's journey through enchanted forest\",\n\t\t\"language\": \"ru\",\n\t\t\"model_text\": \"gpt-4-turbo\",\n\t\t\"model_image\": \"dall-e-3\",\n\t\t\"width\": 1024,\n        \"height\": 1024,\n\t\t\"place\": \"forest\",\n\t\t\"time\": \"night\",\n\t\t\"season\": \"autumn\",\n\t\t\"style\": \"epic fantasy\",\n\t\t\"safe\": true,\n        \"loras\": []\n\t\t\n\t}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -64
      ],
      "id": "be8a5f2a-8be2-4a63-85d7-38d51336fd77",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call 'pollinations ai'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5d19237e-b88f-4069-a7f3-eaab42e3e458",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T12:06:39.865Z",
      "createdAt": "2025-12-13T12:06:39.865Z",
      "role": "workflow:owner",
      "workflowId": "HVVdHVgHhzNLMD5m",
      "projectId": "AbCqI1pdVBc6nvU8"
    }
  ],
  "activeVersion": null,
  "tags": []
}