n8n/workflow/HistoryApi.json
{"updatedAt":"2025-12-16T14:27:38.398Z","createdAt":"2025-12-14T09:20:40.429Z","id":"6h8617p5X9xpZ7HT","name":"HistoryApi","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"HVVdHVgHhzNLMD5m","mode":"list","cachedResultUrl":"/workflow/HVVdHVgHhzNLMD5m","cachedResultName":"History"},"workflowInputs":{"mappingMode":"defineBelow","value":{"safe":"={{ $json.safe }}","width":"={{ $json.width }}","height":"={{ $json.height }}","prompt":"={{ $json.prompt }}","language":"={{ $json.language }}","model_image":"={{ $json.model_image }}","place":"={{ $json.place }}","time":"={{ $json.time }}","season":"={{ $json.season }}","style":"={{ $json.style }}","loras":"={{ $json.loras }}","older-history":"={{ $json.older_history }}","model_text_history":"={{ $json.model_text_history }}","model_gen_prompt":"={{ $json.model_gen_prompt }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"older-history","displayName":"older-history","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_text_history","displayName":"model_text_history","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_gen_prompt","displayName":"model_gen_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"model_image","displayName":"model_image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"width","displayName":"width","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"height","displayName":"height","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"place","displayName":"place","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"season","displayName":"season","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"style","displayName":"style","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"safe","displayName":"safe","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"loras","displayName":"loras","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[128,48],"id":"f478eed4-3a00-403d-82e4-eeba07f81178","name":"Call 'History'"},{"parameters":{"assignments":{"assignments":[{"id":"127d313c-183f-4915-8b29-8e5d1964a87a","name":"id","value":"={{ $('Respond to Webhook').item.json.id }}","type":"number"},{"id":"0974d467-46b7-4c14-bf44-7d51ce3cd078","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,48],"id":"3fb77f7d-4854-4d56-b202-8ed51337c7e1","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"history","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,64],"id":"2518f8dc-a02f-4e08-b2bb-3d9cefe88399","name":"Webhook","webhookId":"7de7a747-4641-4fc1-8fcb-1831e6c3664a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0cc5805c-a24a-4e4b-8e80-323d0fcc3ea8","leftValue":"={{ $json.isValid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-320,64],"id":"0d113639-a6c5-4a5b-a619-44287b77cb5f","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={{\n  {\n    \"status\": \"success\",\n    \"message\": \"Data received and validation passed. Workflow started.\",\n    \"id\": $json.id,\n  }\n}}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-128,48],"id":"b25a1be2-62ed-432e-bc7f-462bf3fb90dd","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{\n  {\n    \"status\": \"validation_error\",\n    \"message\": \"Invalid input data\",\n    \"errors\": $json.errorDetails\n  }\n}}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-128,320],"id":"802ff039-516d-4baa-a889-8692c4c2ff91","name":"Respond to Webhook1"},{"parameters":{"jsCode":"const inputData = items[0].json.body; \nconst errors = [];\n\nif (!inputData) {\n  return { json: { isValid: false, errorDetails: [\"Request body is missing\"] } };\n}\n\n// --- ВСПОМОГАТЕЛЬНЫЕ ФУНКЦИИ ---\n\nfunction checkRequired(field, type, fieldName) {\n  const value = inputData[field];\n  if (value === undefined || value === null) {\n    errors.push(`Field '${fieldName}' is required.`);\n    return;\n  }\n  if (type === 'integer') {\n    if (!Number.isInteger(value)) errors.push(`Field '${fieldName}' must be an Integer.`);\n  } else if (typeof value !== type) {\n    errors.push(`Field '${fieldName}' must be a ${type}.`);\n  }\n}\n\nfunction checkOptional(field, type, fieldName) {\n  const value = inputData[field];\n  if (value === undefined || value === null) return;\n\n  if (type === 'integer') {\n    if (!Number.isInteger(value)) errors.push(`Field '${fieldName}' must be an Integer.`);\n  } else if (type === 'boolean') {\n    if (typeof value !== 'boolean') errors.push(`Field '${fieldName}' must be a Boolean.`);\n  } else if (typeof value !== type) {\n    errors.push(`Field '${fieldName}' must be a ${type}.`);\n  }\n}\n\n// --- ПРОВЕРКИ ---\n\ncheckRequired('id',     'integer', 'id');\ncheckRequired('prompt', 'string',  'prompt');\n\ncheckOptional('older_history',      'string', 'older_history');\ncheckOptional('language',           'string', 'language');\ncheckOptional('model_text_history', 'string', 'model_text_history');\ncheckOptional('model_gen_prompt',   'string', 'model_gen_prompt');\ncheckOptional('model_image',        'string', 'model_image');\ncheckOptional('place',              'string', 'place');\ncheckOptional('time',               'string', 'time');\ncheckOptional('season',             'string', 'season');\ncheckOptional('style',              'string', 'style');\n\ncheckOptional('width',  'integer', 'width');\ncheckOptional('height', 'integer', 'height');\ncheckOptional('safe',   'boolean', 'safe');\n\n// ✅ НОВАЯ ПРОВЕРКА: good_outcome_chance (0-100)\nif (inputData.good_outcome_chance !== undefined && inputData.good_outcome_chance !== null) {\n    if (!Number.isInteger(inputData.good_outcome_chance)) {\n        errors.push(\"Field 'good_outcome_chance' must be an Integer.\");\n    } else if (inputData.good_outcome_chance < 0 || inputData.good_outcome_chance > 100) {\n        errors.push(\"Field 'good_outcome_chance' must be between 0 and 100.\");\n    }\n}\n\n// Проверка массива loras\nconst loras = inputData.loras;\nif (loras !== undefined && loras !== null) {\n  if (!Array.isArray(loras)) {\n    errors.push(\"Field 'loras' must be an Array.\");\n  } else {\n    if (!loras.every(item => typeof item === 'string')) {\n      errors.push(\"All items in 'loras' must be strings.\");\n    }\n  }\n}\n\n// --- ИТОГ ---\nif (errors.length > 0) {\n  return { json: { isValid: false, errorDetails: errors } };\n}\n\nreturn { json: { isValid: true, ...inputData } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,64],"id":"01c05882-a7d5-4200-bb9f-908ecc42f885","name":"Проверка"},{"parameters":{"method":"POST","url":"backend:8080/api/n8n/history","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.id }}"},{"name":"data","value":"={{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,48],"id":"75a341ed-2387-439e-b236-ce71bb50321d","name":"HTTP Request"}],"connections":{"Call 'History'":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Проверка","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Проверка":{"main":[[{"node":"If","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Call 'History'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ea102b18-0ced-4937-8d90-f8fdd94dd24e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T09:20:40.436Z","createdAt":"2025-12-14T09:20:40.436Z","role":"workflow:owner","workflowId":"6h8617p5X9xpZ7HT","projectId":"AbCqI1pdVBc6nvU8"}],"activeVersion":null,"tags":[]}
