n8n/workflow/JSON.json
{"updatedAt":"2025-12-16T14:15:43.083Z","createdAt":"2025-12-16T14:14:29.278Z","id":"ivzm1C32TZqigRrH","name":"JSON","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-48,0],"id":"852d0f29-3c2a-43d3-9b58-39019284db14"},{"parameters":{"url":"http://localhost:5678/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"headerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyZGVlNGM5ZS1lMjdkLTRmYWQtOWNlYy1lNGZhYmU4MGUzMmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1NjUzNjcwfQ.tElLJXkN_zM4bHd_GQRpHOxsYRlIVSD0dyIpMU26eyM"}]},"options":{}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[176,0],"id":"fba19edc-80d5-45a0-9baa-e212c66d64f8"},{"parameters":{"fieldToSplitOut":"data","options":{}},"name":"Split Workflows","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[400,0],"id":"43fea9cd-e78c-4d90-a618-9988c562d90c"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name}}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[608,0],"id":"e1772cc9-5a81-4464-b730-c6b36ea35f62","name":"Convert to File"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Split Workflows","type":"main","index":0}]]},"Split Workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"18e1ef60-1f3b-4cf9-980e-9771b1c02e4f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T14:14:29.284Z","createdAt":"2025-12-16T14:14:29.284Z","role":"workflow:owner","workflowId":"ivzm1C32TZqigRrH","projectId":"AbCqI1pdVBc6nvU8"}],"activeVersion":null,"tags":[]}