n8n/workflow/Manual_Backup_to_GitHub.json
{
  "updatedAt": "2025-12-13T19:26:50.675Z",
  "createdAt": "2025-12-13T19:26:50.675Z",
  "id": "CNwKYXhT9Ie4RxGH",
  "name": "Manual Backup to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3e516926-f5c5-47bb-92da-8834ab7bbba3"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyZGVlNGM5ZS1lMjdkLTRmYWQtOWNlYy1lNGZhYmU4MGUzMmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1NjUzNjcwfQ.tElLJXkN_zM4bHd_GQRpHOxsYRlIVSD0dyIpMU26eyM"
            }
          ]
        },
        "options": {}
      },
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        0
      ],
      "id": "f5ce0036-e93b-4c7c-bfd2-abf5458b3f96"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Split Workflows",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "de196ce0-269c-486f-ac54-0bfbaec354cc"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "ArtemChadaev",
        "repository": "n8n",
        "filePath": "={{ 'workflow/' + $json.name.replace(/[^a-zA-Z0-9-_]/g, '_') + '.json' }}"
      },
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "839c0acf-6ada-4978-8f8d-3802f354538a",
      "webhookId": "38977aaf-3f9c-44ac-9b24-9700de5bdafd",
      "credentials": {
        "githubApi": {
          "id": "WD25Ru2VFCJpp4uU",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b54730ea-d7e4-410b-ab31-861abacc8da9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T19:26:50.682Z",
      "createdAt": "2025-12-13T19:26:50.682Z",
      "role": "workflow:owner",
      "workflowId": "CNwKYXhT9Ie4RxGH",
      "projectId": "AbCqI1pdVBc6nvU8"
    }
  ],
  "activeVersion": null,
  "tags": []
}