n8n/workflow/pollinations_ai.json
{
  "updatedAt": "2025-12-13T13:22:40.750Z",
  "createdAt": "2025-12-12T19:32:09.607Z",
  "id": "ZI6XmS4CTIPS26aE",
  "name": "pollinations ai",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.output || \"nothing\") }}?nolog=true&nologo=true&width={{ $json.width || 1024 }}&height={{ $json.height || 1024 }}&enhance=false&safe={{ $json.safe || false }}&model={{ $json.model || \"flux\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -16
      ],
      "id": "f1f9d068-9c92-4608-bbef-23a69540f66f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User basic request: \"{{ $json.prompt }}\". Desired context/style: \"{{ $json.parameters.style || 'No specific style' }}\", Season: \"{{ $json.parameters.season || 'Any' }}\", Time: \"{{ $json.parameters.time || 'Any' }}\", Place: \"{{ $json.parameters.place || 'Any' }}\". Please rewrite this into one cohesive, detailed image generation prompt.",
        "options": {
          "systemMessage": "You are an expert AI prompt engineer for image generation models like Flux. Your task is to take a basic user request and expand it into a highly detailed, descriptive, and visually rich prompt. Focus on lighting, texture, atmosphere, and camera angle. IMPORTANT: Output ONLY the final prompt string without any introduction or explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -272,
        -16
      ],
      "id": "7f92fe83-97f5-4bc6-bcef-291fba0d32be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -272,
        128
      ],
      "id": "bf55eb78-ab23-487a-b899-dd2998eed510",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Vru74CqXj6BZW8ns",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"prompt\": \"nothing\",\n  \"width\" : 1024,\n  \"height\": 1024,\n  \"safe\": false,\n  \"style\": \"not\",\n  \"place\": \"not\",\n  \"time\": \"not\",\n  \"season\": \"not\",\n  \"model\": \"flux\",\n  \"loras\": []\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -16
      ],
      "id": "3919e574-9f53-4223-8fc1-efa6ef9a9e62",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9b3e2cad-e2fc-48fd-bcf0-23b14eaecb61",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-12T19:32:09.614Z",
      "createdAt": "2025-12-12T19:32:09.614Z",
      "role": "workflow:owner",
      "workflowId": "ZI6XmS4CTIPS26aE",
      "projectId": "AbCqI1pdVBc6nvU8"
    }
  ],
  "activeVersion": null,
  "tags": []
}