n8n/workflow/pollinations ai.json
{"updatedAt":"2025-12-14T20:38:49.574Z","createdAt":"2025-12-12T19:32:09.607Z","id":"ZI6XmS4CTIPS26aE","name":"pollinations ai","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.output || \"nothing\") }}?nolog=true&nologo=true&width={{ $json.width || 1024 }}&height={{ $json.height || 1024 }}&enhance=false&safe={{ $json.safe || false }}&model={{ $json.model || \"flux\" }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,-16],"id":"f1f9d068-9c92-4608-bbef-23a69540f66f","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=User basic request: \"{{ $json.prompt }}\".\nContext Parameters:\n- Style: \"{{ $json.style || 'No specific style' }}\"\n- Season: \"{{ $json.season || 'Any' }}\"\n- Time: \"{{ $json.time || 'Any' }}\"\n- Place: \"{{ $json.place || 'Any' }}\"\n- Safe Mode: {{ $json.safe || true }}\n\nPlease rewrite this into one cohesive, detailed image generation prompt adhering to the Safe Mode rules.","options":{"systemMessage":"You are an expert AI prompt engineer for image generation models like Flux. Your task is to take a basic user request and expand it into a highly detailed, descriptive, and visually rich prompt. Focus on lighting, texture, atmosphere, and camera angle.\n\nSAFETY & CONTENT GUIDELINES:\nYou will receive a \"Safe Mode\" status (True/False).\n\n### IF Safe Mode is TRUE (NO NSFW):\n1. **Strictly Forbidden:** Nudity (breasts, genitals), sexual acts, arousal, fetish content.\n2. **Strictly Forbidden:** Extreme Gore (mutilation, disembowelment).\n3. **ALLOWED:** Death (corpses, graves), horror (monsters, blood stains), violence (battles, wounds), frightening atmosphere.\n   - *Example:* You CAN describe \"a fallen knight amidst a battlefield,\" but NOT \"a knight with guts exploding.\"\n\n### IF Safe Mode is FALSE (Unrestricted):\n1. You are allowed to use terms related to nudity, anatomy, eroticism, or visceral horror if the user requests it or the style demands it.\n2. Use uncompromised descriptive language.\n\nIMPORTANT: Output ONLY the final prompt string without any introduction."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-272,-16],"id":"7f92fe83-97f5-4bc6-bcef-291fba0d32be","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-272,128],"id":"bf55eb78-ab23-487a-b899-dd2998eed510","name":"Groq Chat Model","credentials":{"groqApi":{"id":"Vru74CqXj6BZW8ns","name":"Groq account"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"prompt\": \"nothing\",\n  \"width\" : 1024,\n  \"height\": 1024,\n  \"safe\": false,\n  \"style\": \"not\",\n  \"place\": \"not\",\n  \"time\": \"not\",\n  \"season\": \"not\",\n  \"model_gen_prompt\": \"flux\",\n  \"model_image\": \"\",\n  \"loras\": []\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,-16],"id":"3919e574-9f53-4223-8fc1-efa6ef9a9e62","name":"When Executed by Another Workflow"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei","mode":"list","cachedResultName":"API","cachedResultUrl":"https://drive.google.com/drive/folders/1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[272,-16],"id":"7c3ca3b4-8085-4ed2-be36-b13c1c903bf8","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"lQLYBbc8MtHpP978","name":"Google Drive account"}}}],"connections":{"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b936ce6a-b88a-4442-a9ee-c3547fb8d8df","activeVersionId":"b936ce6a-b88a-4442-a9ee-c3547fb8d8df","triggerCount":0,"shared":[{"updatedAt":"2025-12-12T19:32:09.614Z","createdAt":"2025-12-12T19:32:09.614Z","role":"workflow:owner","workflowId":"ZI6XmS4CTIPS26aE","projectId":"AbCqI1pdVBc6nvU8"}],"activeVersion":{"updatedAt":"2025-12-14T20:38:49.575Z","createdAt":"2025-12-14T20:38:49.575Z","versionId":"b936ce6a-b88a-4442-a9ee-c3547fb8d8df","workflowId":"ZI6XmS4CTIPS26aE","nodes":[{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.output || \"nothing\") }}?nolog=true&nologo=true&width={{ $json.width || 1024 }}&height={{ $json.height || 1024 }}&enhance=false&safe={{ $json.safe || false }}&model={{ $json.model || \"flux\" }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,-16],"id":"f1f9d068-9c92-4608-bbef-23a69540f66f","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=User basic request: \"{{ $json.prompt }}\".\nContext Parameters:\n- Style: \"{{ $json.style || 'No specific style' }}\"\n- Season: \"{{ $json.season || 'Any' }}\"\n- Time: \"{{ $json.time || 'Any' }}\"\n- Place: \"{{ $json.place || 'Any' }}\"\n- Safe Mode: {{ $json.safe || true }}\n\nPlease rewrite this into one cohesive, detailed image generation prompt adhering to the Safe Mode rules.","options":{"systemMessage":"You are an expert AI prompt engineer for image generation models like Flux. Your task is to take a basic user request and expand it into a highly detailed, descriptive, and visually rich prompt. Focus on lighting, texture, atmosphere, and camera angle.\n\nSAFETY & CONTENT GUIDELINES:\nYou will receive a \"Safe Mode\" status (True/False).\n\n### IF Safe Mode is TRUE (NO NSFW):\n1. **Strictly Forbidden:** Nudity (breasts, genitals), sexual acts, arousal, fetish content.\n2. **Strictly Forbidden:** Extreme Gore (mutilation, disembowelment).\n3. **ALLOWED:** Death (corpses, graves), horror (monsters, blood stains), violence (battles, wounds), frightening atmosphere.\n   - *Example:* You CAN describe \"a fallen knight amidst a battlefield,\" but NOT \"a knight with guts exploding.\"\n\n### IF Safe Mode is FALSE (Unrestricted):\n1. You are allowed to use terms related to nudity, anatomy, eroticism, or visceral horror if the user requests it or the style demands it.\n2. Use uncompromised descriptive language.\n\nIMPORTANT: Output ONLY the final prompt string without any introduction."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-272,-16],"id":"7f92fe83-97f5-4bc6-bcef-291fba0d32be","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-272,128],"id":"bf55eb78-ab23-487a-b899-dd2998eed510","name":"Groq Chat Model","credentials":{"groqApi":{"id":"Vru74CqXj6BZW8ns","name":"Groq account"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"prompt\": \"nothing\",\n  \"width\" : 1024,\n  \"height\": 1024,\n  \"safe\": false,\n  \"style\": \"not\",\n  \"place\": \"not\",\n  \"time\": \"not\",\n  \"season\": \"not\",\n  \"model_gen_prompt\": \"flux\",\n  \"model_image\": \"\",\n  \"loras\": []\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,-16],"id":"3919e574-9f53-4223-8fc1-efa6ef9a9e62","name":"When Executed by Another Workflow"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei","mode":"list","cachedResultName":"API","cachedResultUrl":"https://drive.google.com/drive/folders/1OF99eXiVnNkh4_XpsDKXjMNcnXJlx3Ei"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[272,-16],"id":"7c3ca3b4-8085-4ed2-be36-b13c1c903bf8","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"lQLYBbc8MtHpP978","name":"Google Drive account"}}}],"connections":{"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"authors":"Art Chad","name":null,"description":null},"tags":[]}